<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PostsServlet</servlet-name>
    <servlet-class>servlet.PostsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RepostServlet</servlet-name>
    <servlet-class>servlet.RepostServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/servlet/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/servlet/TopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostsServlet</servlet-name>
    <url-pattern>/servlet/PostsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepostServlet</servlet-name>
    <url-pattern>/servlet/RepostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
